<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Anand Chitravelu</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le javascript -->
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <script src="/public/js/google-code-prettify/prettify.js"></script>
    <script>$(function () { prettyPrint() })</script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-twipsy.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/application.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/ico/favicon.ico">
  </head>

  <body>

    <!-- Topbar
    ================================================== -->
    <div class="topbar" data-scrollspy="scrollspy" >
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#">Anand Chitravelu</a>
          <ul class="nav">
            <li class="active"><a href="#overview">About Me</a></li>
            <li><a href="#about">Summary</a></li>
            <li><a href="#current">Current Projects</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contact me</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Masthead (blueprinty thing)
    ================================================== -->
    <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <h1>User Experience Lover</h1>
          <p class="lead">
            CSS Corp Labs developer for Cloud and Tools.</br> Interests in Social Networking,Gameing.Loving HTML5,CSS3,JS and Hybridfox.<br />
          </p>
        </div><!-- /container -->
      </div>
    </header>

    <!-- Quickstart options
    ================================================== -->
    <div class="quickstart">
      <div class="container">
        <div class="row">
          <div class="span5">
            <h6>Recommend me</h6>
            <p>Just Recommend me with your social life</p>
            <p><!-- Place this tag where you want the +1 button to render -->
<g:plusone size="small" annotation="inline"></g:plusone>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script></p> 
<p><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-send" data-href="anandchitravelu.info" data-font="arial"></div></p>
<p style="float:left;"><script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/Share" data-url="anandchitravelu.info" data-counter="right"></script></p>       
          </div>
          <div class="span5">
            <h6>Use it with Less</h6>
            <p>A fan of using Less? No problem, just clone the repo and add these lines:</p>
            <form>
              <textarea class="copy-code" rows="2">&lt;link rel="stylesheet/less" href="/path/to/bootstrap.less"&gt;
&lt;script src="/path/to/less.js"&gt;&lt;/script&gt;</textarea>
            </form>
          </div>
          <div class="span5">
            <h6>Fork on GitHub</h6>
            <p>Download, fork, pull, file issues, and more with my repo on Github.</p>
            <p><a target="_blank" href="https://github.com/anandrc/anand" class="btn primary">Anandrc on GitHub &raquo;</a></p>
          </div>
        </div><!-- /row -->
      </div>
    </div>

    <div class="container">



<!-- About Bootstrap
================================================== -->
<section id="about">
  <div class="page-header">
    <h1>Summary <small>Brief history,on my Career and Education</small></h1>
  </div>
  <div class="row">
    <div class="span-one-third">
      <h3>History</h3>
      <p>After working for <strong>clasticon solutions</strong> & <strong>finix</strong> for 2.5 years in UI designing and web development,</br> I joined <strong>CSS Corp R&D labs</strong> to work on some of the most useful and compelling cloud products.</p>
      <p> I have been working on development of Hybridfox for past 6 months and am now into UX of all CSS Corp R&D labs products. </p>
      <p>
        <a href="http://twitter.com/ramanandc" class="twitter-follow-button">Follow @ramanandc</a>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      </p>
    </div>
    <div class="span-one-third">
      <h3>Current Job</h3>
      <p>Working for <strong>CSS Corp Pvt.Ltd</strong>  from December 2010 till date.On various cloud related tools and plugins.   </p>
      <!--<img src="assets/img/browsers.png" alt="Tested and supported in Chrome, Safari, Internet Explorer, and Firefox">-->
      <ul>
        <li><a href="http://code.google.com/p/hybridfox/" title="Hybridfox" target="_blank">Hybridfox</a></li>
        <li><a href="http://arecord.net" title="Arecord" target="_blank">Arecord</a></li>
        <li><a href="" target="_blank">Hapx</a></li>
      </ul>
    </div>
    <div class="span-one-third">
      <h3>Previous Company</h3>
      <p>Worked for <strong>Clasticon Solutions Pvt Ltd</strong> for developing rich web based application and UI design</p>
      <ul>  
        <li>Developing <span class="label">PHP</span> based Rich Internet web application</li>
        <li>Responsible for developing Content Management Web site</li>
        <li>Responsible for handling all JavaScript related projects and supports</li>
      </ul>
    </div>
    <div class="span">
    <h3>Techinical Stuffs</h3>
    <span class="label">Client Side & Javascript Technology</span>
    <p>HTML5,CSS3,Jquery,Nodejs,Expressjs,Modenizer,HTML5 BoilerPlate</p>
    <span class="label">Server Side Scripting , Frameworks & CMS</span>
    <p>PHP,Python,Flask Python,Joomla,Wordpress,Drupal</p>
    <span class="label">Design Tools & Plugins</span>
    <p>Photoshop,Dreamweaver,Flash,CoralDraw,Gimp,Inkspace</p>
    <span class="label">Domain </span>
    <p>Cloud Computing,Social Networking,Education</p>
    <h3>Education Details</h3>
    <p>Completed my Under Graduate in Information Technology from <strong>Anna University</strong>,<strong>2004-2008</strong></p>
    </div>
  </div><!-- /row -->

  <div class="row">
    <div class="span">
      <h3>Quick Samples</h3>
      <p>Need some quick samples on design works? Check out these are some of my samples:</p>
      <ul class="media-grid">
        <li>
          <a href="http://heliosoutsourcing.com" target="_blank"><img src="/img/heliosoutsourcing.jpg" alt="Helios Outsourcing"></a>
        </li>
        <li>
          <a href="../examples/fluid.html"><img src="/img/churchofgod.jpg" alt="Fluid layout with static sidebar"></a>
        </li>
        <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
         <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
         <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
         <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
         <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
         <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
         <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
         <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
          <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
          <li>
          <a href="../examples/container-app.html"><img src="/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
      </ul>
    </div>
  </div><!-- /row -->
</section>

<!-- Current Projects
================================================== -->
<section id="current">
  <div class="page-header">
    <h1>Current Projects <small>What i am currently doing ?</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Hybridfox</h3>
      <p>Hybridfox is a Firefox add-on that attempts to get the best of both worlds of popular Cloud Computing environments, <strong>Amazon EC2(public)</strong> and <strong>Eucalyptus(private)</strong>. The idea is to use one Hybridfox tool, to switch seamlessly between Amazon and Eucalyptus accounts in order to manage your <strong>"Cloud Computing"</strong> environment. </p>
      <p>
        <a href="http://code.google.com/p/hybridfox/" target="_blank" class="twitter-follow-button">More </a>
      </p>
    </div>
    <div class="span12">
      <h3>Stats on Hybridfox</h3>
      <p>Hybridfox has crossed over <strong>25K Downloads</strong>, and support for various private and public cloud such as Amazon AWS,Eucalyptus,Openstack,OpenNebula,Nimbus and Experimental support for AWS Services such as Elastic Load Balancer,Cloud Watch,Cloud Formation </p>
      <!--<img src="assets/img/browsers.png" alt="Tested and supported in Chrome, Safari, Internet Explorer, and Firefox">-->
      <img src="/img/hf1.png" alt="Simple hanging container for apps">
    </div>

  </div><!-- /row -->

  <div class="row">
    <div class="span">
      <h3>Quick Walkthrough</h3>
      <p>Here are some of video cast for Hybridfox:</p>
<iframe width="440" height="315" src="http://www.youtube.com/embed/rRX5NIxbrWg" frameborder="0" allowfullscreen></iframe>
<iframe width="440" height="315" style="margin-left:20px;" src="http://www.youtube.com/embed/_9tbV_oiB0U" frameborder="0" allowfullscreen></iframe>
    </div>
  </div><!-- /row -->
</section>

<!-- Current Projects
================================================== -->
<section id="blog">
  <div class="page-header">
    <h1>Blog <small>Sharing what i have came across</small></h1>
  </div>
  <div class="row">
    <div class="span">
      <h3>Responsive Image Gallery with Thumbnail Carousel</h3>
      <p>Today we are sharing a nice tutorial on how to create a responsive image gallery with a thumbnail carousel. Inspired by Twitter’s “user gallery”, here is an implementation of a responsive gallery that adapts to the view-port width.</p>
      <img src="/img/responsive-image-gallery-with-thumbnail-carousel.jpg" alt="Simple hanging container for apps">
      <p>The gallery has a view switch that allows to view it with or without the thumbnail carousel, it also comes with keyboard navigation support.</p>
      <p>
      <span class="label">Requirements:</span> jQuery Library</br>
<span class="label">Demo:</span> <a href="http://tympanus.net/Tutorials/ResponsiveImageGallery/">http://tympanus.net/Tutorials/ResponsiveImageGallery/</a></br>
<span class="label">Website:</span> <a href="http://tympanus.net/codrops/2011/09/20/responsive-image-gallery/">http://tympanus.net/codrops/2011/09/20/responsive-image-gallery/</a></br>
<span class="label">License:</span> Free to use
</p>
    </div>
  </div><!-- /row -->
</section>

<!-- Current Projects
================================================== -->
<section id="contact">
  <div class="page-header">
    <h1>Contact <small>Stay connected with me</small></h1>
  </div>
  <div class="row">
    <div class="span8">
      <h3>Submit your contact <small>If you wish my frequent update!</small></h3>
     <div class="span">
      <form>
        <fieldset>
          <div class="clearfix">
            <label for="xlInput">Name</label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="xlInput">Emailid</label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->
          <div class="actions">
            <input type="submit" class="btn primary" value="Submit">
          </div>
        </fieldset>
      </form>
    </div>
    
    </div>
    <div class="span6">
     <script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 500,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('ramanandc').start();
</script>
    </div>
  </div><!-- /row -->
  <div class="row">
   <div class="span">
    <h3>Technologies Used</h3>
    <span class="label">Grid Layouts</span>
    <p>Twitter Bootstrap</p>
    <span class="label">Web Framework</span>
    <p>Nodejs,Express</p>
    <span class="label">Styles</span>
    <p>Lessjs,Ejs</p>
    </div>
  </div>
</section>



    </div><!-- /container -->

    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
          Designed and built with <a href="http://twitter.com/twitter" target="_blank">Twitter Bootstrap</a> , <a href="http://twitter.com/mdo" target="_blank">lessjs</a>, <a href="http://twitter.com/mdo" target="_blank">Nodejs</a>, <a href="http://twitter.com/mdo" target="_blank">Express</a>
        </p>
      </div>
    </footer>

  </body>
</html>
